@media (width: 320px) {
  html {
    font-size: 16px;
  }
}
@media (width: 360px) {
  html {
    font-size: 18px;
  }
}
@media (width: 375px) {
  html {
    font-size: 18.75px;
  }
}
@media (width: 400px) {
  html {
    font-size: 20px;
  }
}
@media (width: 410px) {
  html {
    font-size: 20.7px;
  }
}
body,
h3 {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f7f4f1;
}
.wrapper .item .title {
  // font-size: 0.875 rem;
}
h3 {
  background-color: red;
}
.wrapper .item .title span {
  color: #888;
  float: right;
}